* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #e9e9e9;
}

/*HEADER*/

.cabecalho{
    padding: 0 10%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background: linear-gradient(90deg ,#fa11a5, #2ac8ba);
    box-shadow: 0 0 1em #000000aa;
    position: relative;
    z-index: 30;
}

.cabecalho .logo img{
    height: 2em;
}

.cabecalho .menu{
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
}

.cabecalho .menu .botao .btn-menu{
    float: left;
    padding: 1em 1.5em;
    color: #fff;
}

.cabecalho .menu .botao:hover .btn-menu{
    background: #fa11a5;
}

/*MENU LOGIN*/

.menu .drop-login {
    cursor: pointer;
    padding: 0 1.5em;
    color: #fff;
    height: 51px;
    display: flex;
    align-items: center;
}

.menu .drop-login:hover {
    cursor: pointer;
    background: #fa11a5;
}

.menu .menu-login{
    display: none;
    background-color: rgb(244, 246, 247);
    box-shadow: 0 0.2em 0.5em #000000aa;
    padding: 2em 0.8em;
    position: absolute;
    z-index: 10;
    right: 0;
}

.menu-login-visivel{
    display: block ! important;
}

.menu-login .login-form{
    display: flex;
    flex-direction: column;
}

.menu-login .login-form .campo-login{
    border-radius: 5em;
    width: 20em;
    box-shadow: inset 0 0 0.1em #000000aa;
    padding: 1em 1em;
    margin-bottom: 15px;
    border: none;
    outline: none;
}

.menu-login .login-form .btn-login{
    background-color: #4AACB7;
    color: #fff;
    font-family: Montserrat-bold;
    border-radius: 5em;
    width: 20em;
    padding: 0.8em ;
    margin-bottom: 2em;
    border: none;
    outline: none;
}

.menu-login .login-form .check-termos {
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    margin: 1em;
}

.menu-login .login-form .check-termos input {
    margin-right: 0.3em;
}

.menu-login .login-form .esqueceuSenha {
    display: flex;
    color: #aa0047;
    font-family: montserrat-bold;
    font-family: montserrat-bold;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    background: none;
}

/*CONTENT 1*/

.content1{
    position: relative;
    height: 30em;
    background: #fff;
    z-index: -2;
    width: 100%;
    box-sizing: border-box;
}

.content1 .bg-image{
    background: url("../img/img01.JPG") no-repeat;
    background-size: cover;
    filter: blur(0.1em);
    opacity: 0.9;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.content1 h2{
    text-align: left;
    padding: 10% 6%;
    box-sizing: border-box;
    color: #4AACB7;
    margin-bottom: 60px;
    font-size: 2em;
    user-select: none;
}

/*PROPAGANDAS*/

.propagandas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2% 10%;
}

.prop {
    padding: 1%;
    max-width: 50%;
    width: 30%;
    text-align: center;
    user-select: none;
}

.prop img{
    margin: 5% 0 10% 0;
    height: 3em;
}

/*CONTENT 2*/

.content2 {
    margin: 1% 0;
    padding: 3% 15%;
    background: linear-gradient(90deg ,#fa11a5, #2ac8ba);
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.content2 p{
    margin-bottom: 3%;
    user-select: none;
}

.pesquisa {
    border: none;
    display: block;
    border-radius: 25px;
    background: #fff;
    width: 500px;
    height: 50px;
    padding: 10px 20px;
    color: #000;
    outline: none;
    margin: auto;
}

.btnPesquisar{
    border: white 2px solid;
    background: none;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 3%;
    padding: 1% 2%;
    cursor: pointer;
}

.btnPesquisar:hover{
    box-shadow: 0px 0px 5px white;
}

/*CADASTRO UNIDADE DE SAÚDE*/

.saude {
    background: white;
    margin: 3% 10%;
    padding: 5% 10%;
    border-radius: 5px;
    text-align: center;
}

.saude img{
    height: 5em;
    margin-bottom: 5%;
}

.saude p{
    color: #fa11a5;
    font-size: 1.5em;
    font-weight: bold;
    user-select: none;
}

.saude .increveUnd {
    border: #fa11a5 2px solid;
    background: none;
    color: #fa11a5;
    border-radius: 3px;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 5%;
    padding: 2% 4%;
    cursor: pointer;
}

.saude .increveUnd:hover{
    box-shadow: 0px 0px 5px #aa0047;
}

/*RODAPE*/

.btnPesquisar:hover{
    box-shadow: 0px 0px 5px white;
}

/*CADASTRO UNIDADE DE SAÚDE*/

.saude {
    background: white;
    margin: 3% 10%;
    padding: 5% 10%;
    border-radius: 5px;
    text-align: center;
}

.saude img{
    height: 5em;
    margin-bottom: 5%;
}

.saude p{
    color: #fa11a5;
    font-size: 1.5em;
    font-weight: bold;
}

.saude .increveUnd {
    border: #fa11a5 2px solid;
    background: none;
    color: #fa11a5;
    border-radius: 3px;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 5%;
    padding: 2% 4%;
}

.saude .increveUnd:hover{
    box-shadow: 0px 0px 5px #aa0047;
}

/*RODAPE*/

.rodape {
    background: linear-gradient(90deg ,#fa11a5, #2ac8ba);
    text-align: center;
    padding: 2em;
    margin-top: 3%;
    color: #fff;
}

/*FONTES*/

@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Light.otf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(../font/Montserrat-Bold.otf);
}

@font-face {
    font-family: Montserrat-extrabold;
    src: url(../font/Montserrat-ExtraBold.otf);
}

/*NEW*/

.open-menu-btn, .pesquisa-c{
    display: none;
}

@media screen and (max-width: 479px){
    .cabecalho{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2%;
        display: flex;
        justify-content: center;
        transition: top 500ms;
    }
    .cabecalho .nav-bar{
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: calc(100% - 51px);
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
    }
    
    .menu{
        position: relative;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgb(244, 246, 247);
    }
    
    /*AÇÃO*/
    
    @keyframes menu-animation {
        from{
            opacity: 0;
            transform: translate(-90px, 0);
        }
    
        to{
            opacity: 1;
            transform: translate(0, 0);
        }
    }
    
    .acao .menu{
        animation: menu-animation 300ms;                
    }

    .menu .botao{
        width: 100%;
    }
    .menu .botao .btn-menu, .menu .drop-login {
        width: 100%;
        color: #123 !important;
    }
    .menu .botao:hover .btn-menu, .menu .drop-login:hover {
        color: #fff !important;
    }

    /*botao que abre o menu lateral*/
    
    .open-menu-btn{
        display: block;
        position: absolute;
        left: 2%;
        z-index: 25;
    }

    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 4px;
        border-radius: 4px;
        background-color: rgb(244, 246, 247);
        margin: 5px 0;
        transition: 0.4s;
    }

    /*animacao*/

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-7px, -7px);
        transform: rotate(45deg) translate(-7px, -7px);
    }

    /*pesquisa cabeçalho*/

    .pesquisa-c{
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 20px;
        overflow: hidden;
        position: absolute;
        right: 2%;
        background: url(./../img/icones/lupa38x38b.png) right center/32px no-repeat  transparent;
        transition: width 300ms;
    }

    .pesquisa-c input{
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: 0;
        padding: 0 40px 0 10px;
        border:none;
        position: absolute;
        top: 0;
        left: 0;
        outline: none;
    }
    
    /*animacao*/

    .input-animation{
        width: 90%;
    }

    .btn-pesquisa-c{
        background: #24b3a7;
        border:none;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        right: 2px;
        outline: none;
        display: none;
    }

    /*PROPAGANDAS*/

    .propagandas {        
        flex-direction: column;
        flex-wrap: nowrap; 
        padding: 0% 5%;
        background: white;
    }

    .prop {
        max-width: 100%; 
        width: 100%;
        border: solid black;
    }

    /*CONTENT 1*/

    .content1{
        padding-top: 20%; 
    }

    .saude {
        margin: 3% 5%;
    }
    /*CONTENT-2*/
    /*index.html*/
    .content2 > form input.pesquisa, .content2 > form input.btnPesquisar{
        display: none;
    }

    /*PAGINA DE LOGIN*/
    
    .login-container{
        height: calc(100vh - 113px);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-container .menu-login{
        width: 90%;
        display: block; 
        border-radius: 5px;
        background-color: white;
        padding: 2em 0.8em;
    }

    .login-container .menu-login .login-form {
        display: flex;
        flex-direction: column;
    }
    
    .menu-login .tituloLg {
        font-size: 1.5em;
        font-weight: bold;
        color: #24b3a7;
    }

    .menu-login hr{
        border-color: #2ac8ba;
        margin-bottom: 2em;
    }

    .menu-login .login-form .campo-login {
       width: 100%;
    }
    
    .menu-login .login-form .btn-login {
        width: 100%;
    }

}